USE [master]
GO
/****** Object:  Database [TarimUygulamasi]    Script Date: 20.10.2019 20:50:22 ******/
CREATE DATABASE [TarimUygulamasi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TarimUygulamasi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TarimUygulamasi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TarimUygulamasi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TarimUygulamasi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TarimUygulamasi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TarimUygulamasi]
GO
/****** Object:  Table [dbo].[UrunCesidi]    Script Date: 20.10.2019 20:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunCesidi](
	[Meyve] [varchar](50) NULL,
	[Sebze] [varchar](50) NULL,
	[YemBitkilleri] [varchar](50) NULL,
	[SüsBitkileri] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunEkimArazisi]    Script Date: 20.10.2019 20:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunEkimArazisi](
	[DuzArazi] [varchar](50) NULL,
	[DağlıkArazi] [varchar](50) NULL,
	[SulakArazi] [varchar](50) NULL,
	[KurakArazi] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunEkimZamani]    Script Date: 20.10.2019 20:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunEkimZamani](
	[ID] [int] NOT NULL,
	[OnerilenEkimZamani] [varchar](50) NULL,
	[UygulananEkimZamani] [varbinary](50) NULL,
 CONSTRAINT [PK_UrunEkimZamani] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunGubrelemeZamani]    Script Date: 20.10.2019 20:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunGubrelemeZamani](
	[UrunKodu] [smallint] NULL,
	[OnerilenGubrelemeZamani] [datetime] NULL,
	[UygulananGubrelemeZamani] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunHasatTarihi]    Script Date: 20.10.2019 20:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunHasatTarihi](
	[UrunKod] [smallint] NULL,
	[TahminiHasatTarihi] [datetime] NULL,
	[HasatEdilenTarih] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunIlaclamaZamani]    Script Date: 20.10.2019 20:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunIlaclamaZamani](
	[UrunKod] [smallint] NULL,
	[OnerilenIlaclama] [datetime] NULL,
	[UygulananIlaclamaZamanı] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 20.10.2019 20:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunAdi] [varchar](50) NOT NULL,
	[UrunKodu] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunSulamaZamani]    Script Date: 20.10.2019 20:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunSulamaZamani](
	[UrunKodu] [smallint] NULL,
	[OnerilenSulamaZamani] [datetime] NULL,
	[UygulananSulamaZamani] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunuAlanKisi]    Script Date: 20.10.2019 20:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunuAlanKisi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NULL,
	[Soyad] [varchar](50) NULL,
	[Telefon] [char](10) NULL,
	[Adres] [text] NULL,
	[AlınanMiktar] [varchar](50) NULL,
 CONSTRAINT [PK_UrunuAlanKisi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UrunuAlanKisi] ON 

INSERT [dbo].[UrunuAlanKisi] ([ID], [Ad], [Soyad], [Telefon], [Adres], [AlınanMiktar]) VALUES (1, N'ALİ', N'ASTI', N'9999999999', N'AIAJJDOJAJDJADNHFJAKLHFLAFAKLFLAL', N'500')
INSERT [dbo].[UrunuAlanKisi] ([ID], [Ad], [Soyad], [Telefon], [Adres], [AlınanMiktar]) VALUES (2, N'SALİM', N'USTA', N'9999999999', N'LMNJKGHADHFDHJDLAKHKHDHAGAKH', N'236')
INSERT [dbo].[UrunuAlanKisi] ([ID], [Ad], [Soyad], [Telefon], [Adres], [AlınanMiktar]) VALUES (3, N'NDJA', N'HABH', N'9999999999', N'HAHAHJNKHADHDDAGDGGAGHAG', N'254')
SET IDENTITY_INSERT [dbo].[UrunuAlanKisi] OFF
ALTER TABLE [dbo].[UrunuAlanKisi]  WITH CHECK ADD  CONSTRAINT [FK_UrunuAlanKisi_UrunuAlanKisi] FOREIGN KEY([ID])
REFERENCES [dbo].[UrunuAlanKisi] ([ID])
GO
ALTER TABLE [dbo].[UrunuAlanKisi] CHECK CONSTRAINT [FK_UrunuAlanKisi_UrunuAlanKisi]
GO
USE [master]
GO
